@model ClientsViewModel

@{
    ViewData["Title"] = "CoreSevices Bootcamp - Menu";
}

<script>

    function OrdersTotalAmountByClient() {
        var clientId = $("#clientList").val(); //Get selected clientId

        window.location = "@Url.Action("OrdersTotalAmountByClient", "App", new {})"+"?clientId="+clientId; 
    }

    function OrdersAverageAmountByClient() {
        var clientId = $("#clientList").val(); //Get selected clientId

        window.location = "@Url.Action("OrdersAverageAmountByClient", "App", new {})"+"?clientId="+clientId; 
    }

    function OrdersPriceRange() {
        var min = $("#min").val(); //Get min value
        var max = $("#max").val(); //Get max value

        window.location = "@Url.Action("OrdersPriceRange", "App", new {})" + "?min=" + min + "&max=" + max; 
    }

    function ClientOrdersList() {
        var clientId = $("#clientList").val(); //Get selected clientId
        if (clientId != null)
        window.location = "@Url.Action("ClientOrdersList", "App", new {})"+"?clientId="+clientId; 
    }

    function ClientOrdersQuantity() {
        var clientId = $("#clientList").val(); //Get selected clientId
        if (clientId != null)
        window.location = "@Url.Action("ClientOrdersQuantity", "App", new {})"+"?clientId="+clientId; 
    }

</script>

<h2>Opcje globalne:</h2>

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("AllOrdersList","App")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Lista zamówień
        </a>
        <a href="@Url.Action("OrdersQuantity","App", new { })" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Ilość zamówień
        </a>
        <a href="@Url.Action("ProductOrdersNumber","App", new { })" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Ilość pozycji zamówień po produktach
        </a>
    </div>

    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("OrdersAverageAmount","App", new { })" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Średnia wartość zamówienia
        </a>
        <a href="@Url.Action("OrdersTotalAmount","App", new { })" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Łączna kwota zamówień
        </a>
        <button onclick="OrdersPriceRange()" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Zamówienia z przedziału cenowego
        </button>
    </div>
</div>
Wartość zamówienia od: <input type="number" id="min"/> do <input type="number" id="max"/>



<h2>
    Opcje dla klienta o ID:

    @if (Model.ClientList != null)
    {
        @Html.DropDownListFor(x => x.SelectedId,
        (IEnumerable<SelectListItem>)Model.ClientList, null, new { id = "clientList" })
    }
</h2>
<div class="row">
    <div class="col-md-6 margin-top-20">
        <button onclick="ClientOrdersList()" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Lista zamówień klienta
        </button>
        <button onclick="ClientOrdersQuantity()" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Ilość zamówień klienta
        </button>
    </div>
    <div class="col-md-6 margin-top-20">
        <button onclick="OrdersAverageAmountByClient()" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Średnia wartość zamówienia klienta
        </button>
        <button onclick="OrdersTotalAmountByClient()" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Łączna kwota zamówień klienta
        </button>
    </div>
</div>
@*<div style="margin-top: 10px">
    <div class="col-md-12 margin-top-20">
        <a href="@Url.Action("Index","App", new { })" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-print"></span>Ilość pozycji zamówień pogrupowanych po nazwie
        </a>
    </div>
</div>*@



<style>
    .row {
        margin-top: 20px;
    }
</style>

